html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#home_filtro .card-img-overlay{
    color:black;
}

#home_filtro:hover{
    transform: scale(1.007);
    box-shadow: 0px 4px 10px purple;
}

#Home_SobreNos{
    color: white;
    border-radius: 2.5%;
    box-shadow: 0px 4px 12px purple;
}

.carousel-item img{
    height: 500px;
}